<div class="try-datepicker">
  <div class="try-datepicker__panel">
    <div class="try-datepicker__toggle">
      <button @click="changeDateShown(-1, 'year')">《</button>
      <button @click="changeDateShown(-1, 'month')"><</button>
      <h3>{{dateShown.year}}年{{dateShown.month}}月</h3>
      <button @click="changeDateShown(1, 'month')">></button>
      <button @click="changeDateShown(1, 'year')">》</button>
    </div>
    <table>
      <thead class="try-datepicker__header">
        <th>日</th>
        <th>一</th>
        <th>二</th>
        <th>三</th>
        <th>四</th>
        <th>五</th>
        <th>六</th>
      </thead>
      <tbody>
        <tr v-for="(row, index) in dateMatrix" :key="index">
          <td
            @click="selectDate(cell)"
            class="try-datepicker__cell"
            :class="[cell.type]"
            v-for="cell in row"
            :key="cell.date">{{cell.date}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>